<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProjectReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="InternalData" value="124950" />
    <add key="PatientFormSize" value="1029,490" />
    <add key="PatientFormLocation" value="10,10" />
    <add key="PatientFormListWidths" value="" />
    <add key="PatientFormIsFilterShowed" value="True" />
    <add key="OperationFormSize" value="507,437" />
    <add key="OperationFormLocation" value="100,100" />
    <add key="OperationFormListWidths" value="" />
    <add key="OperationViewFormLocation" value="100,100" />
    <add key="OperationViewFormTextBoxSurgeons" value="" />
    <add key="OperationViewFormTextBoxAssistents" value="" />
    <add key="OperationViewFormTextBoxHeAnestethist" value="" />
    <add key="OperationViewFormTextBoxSheAnestethist" value="" />
    <add key="OperationViewFormComboBoxScrubNurse" value="" />
    <add key="OperationViewFormComboBoxOrderly" value="" />
    <add key="PatientViewFormLocation" value="50,50" />
    <add key="PatientViewFormSize" value="692,408" />
    <add key="PatientViewFormLastMKB" value="" />
    <add key="PatientViewFormLastDayServices" value="" />
    <add key="PatientViewFormLastNightServices" value="" />
    <add key="DischargeEpicrisisFormLocation" value="100,100" />
    <add key="LineOfCommunicationFormLocation" value="100,100" />
    <add key="MedicalInspectionFormLocation" value="100,100" />
    <add key="OperationProtocolFormLocation" value="100,100" />
    <add key="TransferableEpicrisisFormLocation" value="100,100" />
    <add key="PatientFormFilterColumnName" value="Name" />
    <add key="PatientFormFilterDirection" value="Descending" />
    <add key="MKBSelectFormSize" value="570,420" />
    <add key="MKBSelectFormLocation" value="10,10" />
    <add key="MKBSelectFormListWidths" value="" />
    <add key="ServiceSelectFormSize" value="570,420" />
    <add key="ServiceSelectFormLocation" value="10,10" />
    <add key="ServiceSelectFormListWidths" value="" />
    <add key="PrescriptionFormLocation" value="100,100" />
    <add key="PrescriptionFormSize" value="782,515" />
    <add key="PrescriptionFormTherapyListWidths" value="" />
    <add key="PrescriptionFormSurveyListWidths" value="" />
  </appSettings>
</configuration>
