<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="StatisticHelper.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="StatisticHelper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<StatisticHelper.Configuration>
			<setting name="SvodFilePath" serializeAs="String">
				<value/>
			</setting>
			<setting name="Svod100FilePath" serializeAs="String">
				<value/>
			</setting>
			<setting name="HospitalFilesFolder" serializeAs="String">
				<value/>
			</setting>
			<setting name="FirstMonth" serializeAs="String">
				<value>Январь</value>
			</setting>
			<setting name="SecondMonth" serializeAs="String">
				<value>Январь</value>
			</setting>
			<setting name="SvodVUTFilePath" serializeAs="String">
				<value/>
			</setting>
		</StatisticHelper.Configuration>
		<StatisticHelper.Settings>
			<setting name="SvodFilePath" serializeAs="String">
				<value/>
			</setting>
			<setting name="Svod100FilePath" serializeAs="String">
				<value/>
			</setting>
			<setting name="HospitalFilesFolder" serializeAs="String">
				<value/>
			</setting>
			<setting name="FirstMonth" serializeAs="String">
				<value/>
			</setting>
			<setting name="SecondMonth" serializeAs="String">
				<value/>
			</setting>
		</StatisticHelper.Settings>
	</userSettings>
	<startup/></configuration>
