<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FilesName.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FilesName.Configuration>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckNestingFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceTo" serializeAs="String">
                <value>начало</value>
            </setting>
            <setting name="TypeOfReplace" serializeAs="String">
                <value>File</value>
            </setting>
            <setting name="Convertion" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyBufferSettings" serializeAs="String">
                <value>File</value>
            </setting>
            <setting name="SetAttributeSettings" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="StartNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinCountDigits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NumerationSettings" serializeAs="String">
                <value>DoNumeration</value>
            </setting>
        </FilesName.Configuration>
    </userSettings>
</configuration>