<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjectReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="InternalData" value="124950" />
        <add key="PatientFormSize" value="1030,411" />
        <add key="PatientFormLocation" value="10,10" />
        <add key="PatientFormListWidths" value="" />
        <add key="HospitalizationViewFormSize" value="800,390" />
        <add key="HospitalizationViewFormLocation" value="10,10" />
        <add key="HospitalizationViewFormListWidths" value="" />
        <add key="PatientViewFormLocation" value="10,10" />
        <add key="PatientViewFormSize" value="740,490" />
        <add key="VisitViewFormLocation" value="10,10" />
        <add key="VisitViewFormSize" value="742,495" />
        <add key="MergeFormLocation" value="10,10" />
        <add key="MergeFormSize" value="870,400" />
        <add key="MergeFormLabelMoveTop" value="298" />
        <add key="DictophoneFormLocation" value="10,10" />
        <add key="ColorInfoFormLocation" value="10,10" />
        <add key="OperationViewFormLocation" value="10,10" />
        <add key="DischargeEpicrisisFormLocation" value="10,10" />
        <add key="LineOfCommunicationFormLocation" value="10,10" />
        <add key="MedicalInspectionFormLocation" value="10,10" />
        <add key="OperationProtocolFormLocation" value="10,10" />
        <add key="TransferableEpicrisisFormLocation" value="10,10" />
        <add key="AnamneseFormLocation" value="10,10" />
        <add key="ObstetricHistoryFormLocation" value="10,10" />
        <add key="PaintDoublePictureFormLocation" value="10,10" />
        <add key="RangeOfMotionCardFormLocation" value="10,10" />
        <add key="ObstetricParalysisCardFormLocation" value="10,10" />
        <add key="ForeignDataFolderPath" value="" />
        <add key="MergeFormCheckBoxShowPrivateFolderDiffs" value="False" />
        <add key="MergeFormCheckBoxCopyPrivateFolderData" value="False" />
        <add key="RowLightColor" value="230,230,230" />
        <add key="RowReleaseDateColor" value="180,255,50" />
        <add key="RowNoColor" value="255,255,255" />
        <add key="RowLineOfCommunicationColor" value="255,180,180" />
        <add key="PatientFormIsFilterShowed" value="True" />
        <add key="PatientFormFilterColumnName" value="Name" />
        <add key="PatientFormFilterDirection" value="Ascending" />
        <add key="MergeShowDifferenceFormSize" value="850,500" />
        <add key="MergeShowDifferenceFormLocation" value="10,10" />
    </appSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>